---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
import { certifications, education, experiences, skills } from "../consts";
---

<BaseLayout title="Juan I. Condina | Resume" sideBarActiveItemID="cv">
	<section>
		<div class="mb-5">
			<div class="text-2xl w-full font-bold">Profile</div>
		</div>
		<div class="mb-10 text-justify">
			<p>Experienced full stack developer used to work with up to date web development technologies.</p>
			<p>
				My objective is to continue growing professionally by learning and upgrading skills as well as achieving
				personal goals.
			</p>
			<p>I enjoy team play as well as working on my own. Good at learning fast and communicating, even remotely.</p>
			<p>Used to work with agile development tools.</p>
			<p>Passionate about tech and building the future.</p>
			<p>Looking for a software development position that both challenges and fits my skills.</p>
		</div>
	</section>

	<section>
		<div class="mb-5">
			<div class="text-2xl w-full font-bold">Education</div>
		</div>
		<div class="time-line-container grid gap-4 mb-10">
			{
				education.map((item) => (
					<TimeLineElement title={item.title} subtitle={item.subtitle}>
						{item.description}
					</TimeLineElement>
				))
			}
		</div>
	</section>

	<section>
		<div class="mb-5">
			<div class="text-2xl w-full font-bold">Experience</div>
		</div>
		<div class="time-line-container mb-10">
			{
				experiences.map((item) => (
					<TimeLineElement title={item.title} subtitle={item.subtitle}>
						<>
							<p>{item.description}</p>
							<p class="py-2">
								<a target="_blank" rel="noopener noreferrer" href={item.link}>
									{item.link}
								</a>
							</p>
						</>
					</TimeLineElement>
				))
			}
		</div>
	</section>

	<section>
		<div class="mb-5">
			<div class="text-2xl w-full font-bold">Certifications</div>
		</div>
		<ul class="list-disc mx-6 mb-10 grid gap-2">
			{
				certifications.map((item) => (
					<li>
						<a class="link text-secondary" href={item.url} target="_blank" rel="noopener noreferrer">
							{item.name}
						</a>
					</li>
				))
			}
		</ul>
	</section>

	<section>
		<div class="mb-5">
			<div class="text-2xl w-full font-bold">Skills</div>
		</div>
		<ul class="list-disc md:columns-5 columns-2 mx-6">
			{skills.map((item) => <li>{item}</li>)}
		</ul>
	</section>
</BaseLayout>
